# Object files
*.o
*.ko
*.obj
*.elf

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex
*.pyc

*~
*.bak
*.diff
*#
*.zip
bstrlib.txt
build
build-asan
build-bench
cmark.dSYM/*
cmark
.cache
.build
.gradle
.cxx
.vscode
.DS_Store
local.properties

# Testing and benchmark
alltests.md
progit/
bench/benchinput.md
test/afl_results/
